In [16]:
import numpy as np
import pandas as pd

In [3]:
x = pd.read_csv('data_2d.csv',header=None)

In [4]:
x.head()

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486

In [5]:
type(x)

pandas.core.frame.DataFrame

In [6]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
0    100 non-null float64
1    100 non-null float64
2    100 non-null float64
dtypes: float64(3)
memory usage: 2.4 KB

#### numpy: x[0] -> 0th row
#### Pandas: x[0] -> col that has name(label) 0

In [8]:
x[0].head()

0    17.930201
1    97.144697
2    81.775901
3    55.854342
4    49.366550
Name: 0, dtype: float64

In [12]:
x[0][1] #from col 0 accessing element of row 1

97.1446971852

In [14]:
x[0,0] # will give error

KeyError: (0, 0)

In [15]:
M = x.as_matrix()

/home/amit/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [17]:
type(M)

numpy.ndarray

In [25]:
M = x.values
M[0]

array([ 17.93020121,  94.52059195, 320.2595296 ])

In [20]:
type(M)

numpy.ndarray

In [27]:
M[1]

array([ 97.14469719,  69.59328198, 404.63447153])

In [28]:
x.iloc[0] #getting rows in pandas

0     17.930201
1     94.520592
2    320.259530
Name: 0, dtype: float64

#### getting multiple rows

In [29]:
x.iloc[[0,2]] #getting rows 0 and 2

           0          1           2
0  17.930201  94.520592  320.259530
2  81.775901   5.737648  181.485108

#### getting rows based on some conditions

In [31]:
x [x[0] < 5] # here rows are returned instead of regular col

           0          1           2
5   3.192702  29.256299   94.618811
44  3.593966  96.252217  293.237183
54  4.593463  46.335932  145.818745
90  1.382983  84.944087  252.905653
99  4.142669  52.254726  168.034401

In [32]:
x[0] < 5

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90     True
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
99     True
Name: 0, Length: 100, dtype: bool