In [1]:
import numpy as np
import pandas as pd

In [4]:
x = pd.read_csv('data_2d.csv',header=None)

In [6]:
x.head()

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486

In [7]:
type(x)

pandas.core.frame.DataFrame

In [8]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
0    100 non-null float64
1    100 non-null float64
2    100 non-null float64
dtypes: float64(3)
memory usage: 2.4 KB